body {
  background-color: #9966cc;
  min-height: 100vh;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.carrosel {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 550px;
  width: 600px;
  border-radius: 12px;
}

.container-carrosel img {
  object-fit: cover;
  height: 550px;
  width: 600px;
}

.container-carrosel {
  display: flex;
  transition: transform 1.5s ease-in-out;
}
